# Java
*.class
*.log
hs_err_pid*
replay_pid*

# Archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/

# VS Code
.vscode/

# OS files
.DS_Store